.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
   text-align: center;
   margin-top: 50px;
}
.status {
  margin-bottom: 20px;
}
.square {
  height: 50px;
  width: 50px;
  vertical-align: top;
  font-size: 26px;
  font-weight: 700;
  background-color: ghostwhite;
  margin-left: -2px;
  margin-bottom: -2px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
